{erl_opts, [debug_info
           ,warn_export_vars
           ,warn_unused_import
           ,warn_missing_spec
           ,warn_untyped_record

           ,{platform_define, "^R1", 'OTP_VERSION', 16}
           ,{platform_define, "^R1", 'BEFORE_OTP_17'}
           ,{platform_define, "^R1", 'BEFORE_OTP_18'}
           ,{platform_define, "^R1", 'BEFORE_OTP_19'}
           ,{platform_define, "^R1", 'BEFORE_OTP_20'}
           ,{platform_define, "^17", 'OTP_VERSION', 17}
           ,{platform_define, "^17", 'BEFORE_OTP_18'}
           ,{platform_define, "^17", 'BEFORE_OTP_19'}
           ,{platform_define, "^17", 'BEFORE_OTP_20'}
           ,{platform_define, "^18", 'OTP_VERSION', 18}
           ,{platform_define, "^18", 'BEFORE_OTP_19'}
           ,{platform_define, "^18", 'BEFORE_OTP_20'}
           ,{platform_define, "^19", 'OTP_VERSION', 19}
           ,{platform_define, "^19", 'BEFORE_OTP_20'}
           ,{platform_define, "^20", 'OTP_VERSION', 20}
           ]}.

{profiles, [{dev, [{erl_opts, [{d,'DEV',"-dev"}]}]}
           ,{native, [{erl_opts, [native, {d,'NATIVE',"-native"}]}]}
           ,{pedantic, [{erl_opts, [warnings_as_errors]}]}
           ,{test, [{plugins, [coveralls]}]}
           ]}.

{deps, [{getopt, "~>1.0"}
       ]}.

{escript_emu_args, "%%! +S1\n"}.

{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "cp \"$REBAR_BUILD_DIR/bin/concuerror\" ./concuerror"},
              {"win32",
               escriptize,
               "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ concuerror* "
               "/njs /njh /nfl /ndl & exit /b 0"} % silence things
             ]}.

{dialyzer, [{warnings, [unmatched_returns
                       ,underspecs
                       ]}]}.

{coveralls_coverdata, "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name, "travis-ci"}.
