#!/usr/bin/env bash

SUITE=${1-bounding_tests}
TEST=${2-last_zero}
BOUND="-c preemption -b 0"
VERBOSITY= #-v9

cd $(dirname $0)
CONCUERROR=../concuerror
CDIR=$(dirname $CONCUERROR)
make -j dev -C $CDIR
$CONCUERROR -k --print_depth 22 --graph $CDIR/g.dot --show_races $BOUND $VERBOSITY -f suites/$SUITE/src/$TEST.erl -m $TEST
dot -Tsvg -o $CDIR/g.svg $CDIR/g.dot
